py_scripts/__pycache__

raw_data/weather_regions
raw_data/all_weather_regions.csv

processed_data/individual_regions

ready_to_use_data/centroids
ready_to_use_data/year_clusters

ready_to_use_data/years_multi
ready_to_use_data/years_uni
ready_to_use_data/weather_regions